{% extends "layout/app.html" %}

{% block content %}
<!-- CONTENT AREA -->
<article>

    <!--Breadcrumb Section Start-->
    <section class="contactPage-bg">
        <div class="theme-container container ">
            <div class="site-breadcumb aboutPage-hh">
                <h1 class=""> CONTACT US</h1>
            </div>
        </div>
    </section>
    <!--Breadcrumb Section End-->
    <!-- Page Starts-->
    <div class="container theme-container sec-space">
        <!-- Cart Details Starts-->
        <div class="title-wrap">
            <h2 class="section-title fsz-36 pb-30"> <b> We want to hear from you</b> </h2>
            <p> Phasellus tempus. Proin viverra, ligula sit amet ultrices semper.
                Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.  </p>
        </div>
        <div class="row  pt-70">
            <div class="col-md-6 contactForm">
                <div class="row">
                    {% if form.errors %}
                    <div class="col-sm-12">
                    <div class="aui-message aui-message-error">
                        <p>
                            There was an error while submitting the form.  Please check the errors and submit the
                            form again.
                        </p>
                        </div>
                    </div>
                    {% endif %}
                <!-- Contact Form Starts -->
                 {% if sent %}
                    <div class="col-sm-12">
                        <div class="aui-message success">
                        <p>
                            You message has been sent.  Thanks for contacting
                            Hopewell Hockey.  We will be in touch.
                        </p>
                    </div>
                    </div>
                 {% else %}
                <form role="form" action="" method="POST" class="form-icon contact-form">
                       {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group no-label col-sm-12">
                            {{ field }}
                            <p>{{ field.errors }}</p>
                        </div>
                        {% endfor %}
                        <div class="form-group col-sm-12">
                            <button class="theme-btn btn-black small-btn" type="submit"> <b> Send Message To Us </b> </button>
                        </div>
                </form>
                {% endif %}
            </div>
            </div>      <!-- Contact Form Ends -->
        <div class="col-md-6">
            <h2 class="section-title"> Heritage Hockey </h2>
            <hr class="divider-solid">
            <p> Phasellus tempus. Proin viverra, ligula sit
                amet ultrices semper. Vivamus elementum semper nisi.
                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                nulla ut metus varius laoreet. Quisque rutrum. </p>
            <hr class="divider-dotted">
            <ul class="upper-text contact-detail">
                <li> <strong>Address:</strong><br> Portsmouth, NH 03801 </li>
                <li><strong>Phone:</strong><br> +66 123 456 789  </li>
                <li><strong>Email:</strong><br> info@heritagehockey.com</li>
            </ul>
        </div>
        </div>
    </div>
    <!-- Cart Details Ends -->
    </div>
    <!-- / Page Ends -->

</article>
<!-- / CONTENT AREA -->
{% endblock %}