{% extends "layout/app.html" %}
{% load staticfiles %}

{% block title %}F.A.Q{% endblock %}

{% block extrastyles %}
{% endblock %}

{% block content %}
<section class="hhockey-section">
    <h2 class="hhockey-header">Frequently Asked Questions</h2><br>

    <!-- Sidebar Starts -->
    <aside class="col-md-3 col-sm-4 sidebar">
        <div class="widget-wrap">
            <h2 class="widget-title"> Topics </h2>
            <ul class="account-list with-border">
                <li><a href="#hh"> General Questions</a></li>
                <li><a href="#sticks"> Our Sticks</a></li>
                <li><a href="#store"> Purchasing</a></li>
                <li><a href="#problems"> Problems </a></li>
                <li><a href="#account"> My Account </a></li>

            </ul>
        </div>
    </aside>
    <!-- Sidebar Ends -->

    <!-- Page Starts-->
    <div class="container theme-container">
        <div class="row">
            <!-- Product Details Starts-->
            <aside class="col-md-9 col-sm-8">
                <div class="panel-group chk-panel" id="accordion">
                    <h3 id="hh" class="hhockey-faq-header">General Questions</h3>
                    <div class="panel"><!-- START QUESTION -->
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-2">
                                What is Hopewell Hockey</a>
                        </div>
                        <div id="accordion-2" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Hopewell Hockey was born from a simple idea ;
                                            hockey sticks are too expensive.  We wondered how nice it would be
                                            if we could buy sticks that compared to the high end sticks, but didn’t
                                            cost as much.  After a little research, we found out that much of the
                                            cost associated with the top end sticks doesn’t really makes a big
                                            difference on the general stick properties like flex and weight.
                                            After giving them a try for ourselves, we knew we had something.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-3">
                                Why should I switch to a new stick?</a>
                        </div>
                        <div id="accordion-3" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Sticks wear out, break, or simply aren’t what you were looking for.  Maybe the flex is too stiff, or you don’t like the release of the puck with the new type of curve.   Perhaps you just want to try something new without spending your vacation money to do it.   Whatever the case might be, shop with confidence knowing you’ll get something light, responsive, and well priced.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-4">
                                Do you only sell hockey sticks?</a>
                        </div>
                        <div id="accordion-4" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> The short answer is yes.  This is our first offering of many.  The longer answer is that we will be evaluating other useful products down the road.  We want to be the one stop shop for specific hockey gear that you might not want to go get a pro shop every week in order to purchase.  That's more time kicking it with the boys ,and less time waiting in line.  Mint.
                                        </p>
                                        <p>
                                            Our ambitions do not simply stop there.  We love being a part of, and ultimately serving the hockey community.  To that end, we will be developing next generation products for the sport which have never before been to the market.   Stay tuned.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->



                    <h3 id="sticks" class="hhockey-faq-header">Our Sticks</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-5">
                                How do they compare to top of the line models</a>
                        </div>
                        <div id="accordion-5" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> The most important aspects of good sticks is the weight and flex.  A player wants to feel that the stick is responsive as they receive and dish passes, or shoot the puck.  The big brands have gone to lengths to pour millions of dollars into Research in order to sell new and improved features like ‘dual kick point sticks’.  Academic studies have shown that for the majority players, these features offer minimal benefits.  The most important facet of a player is their athleticism - in regards to a stick, the studies cited that weight and flex.  Thus our focus was finding sticks that compared to the best sticks in these areas, and we are happy with what we have managed to get.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-6">
                                Can I customize a stick?</a>
                        </div>
                        <div id="accordion-6" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We offer a wide variety of stick flexes, and blade curves.  However we do not have the capacity to fully customize sticks.   However if the stick you want is out of stock, or there is a configuration you are looking for ,we would love to hear from you.  <a href="{% url 'contact_page' %}">Visit
                                            our contact Page</a>
                                        </p>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-7">
                                Do your sticks break more than the best sticks?</a>
                        </div>
                        <div id="accordion-7" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Part of our commitment to you is to provide you with failure data as we get it about our product.   If our sticks fail more frequently, or fail in worse ways than our competitors, we will change course and make things right.  Our early users have told us that the sticks are lasting just as long as their normal sticks, we we are optimistic that they will exhibit the same reliability profile as the leading brands.
                                        </p>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->


                    <h3 id="store" class="hhockey-faq-header">Purchasing our Products</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9-2">
                                I live outside of the United States, can I make a purchase?</a>
                        </div>
                        <div id="accordion-9-2" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We do not support purchases outside of the United States.  In the future, we will allow purchases from other countries.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9-2">
                                Do you accept 3D Secure cards ?</a>
                        </div>
                        <div id="accordion-9-2" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> 3D Secure cards require an additional layer of authorization with a bank in order to transact. Currently our system does not accept 3D Secure cards.  We will implement this in the future.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9-1">
                                What is included in my purchase statement?</a>
                        </div>
                        <div id="accordion-9-1" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> When a card is charged, a statement descriptor will appear on your statement.  This is simply a description of what you just purchased.  Our descriptor is HOCKEY EQUIPMENT; you will see this on your monthly credit card statement.  Please note that our card issuing bank can automatically include other account information to show your statement.  None of this information is stored on our servers and is handled entirely by Stripe.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9">
                                Can I buy your sticks at a pro shop?</a>
                        </div>
                        <div id="accordion-9" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Currently we do not offer our sticks in pro shops.  However we will be working with local pro shops to bring our product in the future.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-10">
                                What payment methods can I use at the store?</a>
                        </div>
                        <div id="accordion-10" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We accept all major credit cards - Mastercard, Visa, and American Express.  We do not accept cash, C.O.Ds or checks online.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-12">
                                Is my Credit Card information Secure?</a>
                        </div>
                        <div id="accordion-12" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We have partnered with Stripe in order to provide you with a reliable, secure  way to use your credit card.  With Stripe, communications with their services are secure, and your information never touches our backend systems.  We do not store any sensitive information about you.  For more information about Stripe, please visit their <a href="https://stripe.com/" target="_blank">site</a>.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-13">
                                How do I get Shipping Notifications?</a>
                        </div>
                        <div id="accordion-13" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> When you make a purchase, you will immediately receive a tracking number via an email.  Check your spam folder and modify your whitelist to include hopewellhockey.com.

                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <h3 id="problems" class="hhockey-faq-header">Product Issues</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-14">
                               My stick broke/arrived broken, do I get a refund?   </a>
                        </div>
                        <div id="accordion-14" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Yes.    While we do not expect many sticks to break straight away, it will happen.  Our Warranty is 30 days from the day you receive your stick in the mail.   If your stick arrives broken, or breaks within the Warranty time period, we will refund your entire purchase cost.  Please check out our <a href="{% url 'warranty_page' %}"> Warranty Claims </a> for more information.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->




                    <h3 id="account" class="hhockey-faq-header">My Account</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-19">
                                I got locked out of my account, how do I recover it?</a>
                        </div>
                        <div id="accordion-19" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> You are able to recover the account by resetting your password.  Navigate to the login, and click ‘forgot password’.  An email will be sent to the address you registered with the account.  If you signed up with facebook or twitter, it will send an email to the address they have on file.  Note that we will never send emails looking for any of your personal information.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-21">
                                Will Hopewell Hockey ever post to my facebook or Twitter?</a>
                        </div>
                        <div id="accordion-21" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Currently, we will not be posting any content to social media from this site.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-22">
                                My account has been compromised, what do I do?</a>
                        </div>
                        <div id="accordion-22" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> If you suspect your account has been compromised please contact us directly via email.  We can suspend/lock or delete your account.  We will not provide sensitive to anyone information including an account's username or email.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-23">
                                I Want to delete my account,  how do I do it?</a>
                        </div>
                        <div id="accordion-23" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Deleting your account is simple -  simply navigate to the account settings page.   Under my profile, click the “Delete Profile” Button.  Enter your password, and your account will be permanently removed from our system.   We cannot recover accounts deleted in this manner.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-24">
                                How do I turn off emails?</a>
                        </div>
                        <div id="accordion-24" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Currently, we do not send out emails for advertising or promotional purposes.  Our email system is strictly for account or ordering our products.  These actions require explicit notification to our customers, and thus will not be disabled.  All emails you receive are one time in nature, and will not clutter up your inbox -  we promise.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->



            </aside>
            <div class="visible-xs pt-70"></div>
            <!-- Product Details Ends -->



        </div>
    </div>
</section>
<!-- / Page Ends -->
{% endblock %}