{% extends "layout/app.html" %}
{% load staticfiles %}

{% block title %}F.A.Q{% endblock %}

{% block extrastyles %}
{% endblock %}

{% block content %}
<section class="hhockey-section">
    <h2 class="hhockey-header">Frequently Asked Questions</h2><br>

    <!-- Sidebar Starts -->
    <aside class="col-md-3 col-sm-4 sidebar">
        <div class="widget-wrap">
            <h2 class="widget-title"> Topics </h2>
            <ul class="account-list with-border">
                <li><a href="#hh"> General Questions</a></li>
                <li><a href="#sticks"> Our Sticks</a></li>
                <li><a href="#store"> Purchasing</a></li>
                <li><a href="#problems"> Problems </a></li>
                <li><a href="#account"> My Account </a></li>

            </ul>
        </div>
    </aside>
    <!-- Sidebar Ends -->

    <!-- Page Starts-->
    <div class="container theme-container">
        <div class="row">
            <!-- Product Details Starts-->
            <aside class="col-md-9 col-sm-8">
                <div class="panel-group chk-panel" id="accordion">
                    <h3 id="hh" class="hhockey-faq-header">General Questions</h3>
                    <div class="panel"><!-- START QUESTION -->
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-2">
                                What is Hopewell Hockey</a>
                        </div>
                        <div id="accordion-2" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Hopewell Hockey was born from a simple idea:  hockey sticks are too expensive. After some research, we discovered that much of the cost associated with the top end sticks comes from middlemen and marketing. So, we decided to do something about it. At Hopewell Hockey, we’ve engineered a superior hockey stick. By selling sell it directly to our customers, we can help make hockey affordable again. We started Hopewell Hockey, so that everyone can enjoy the sport that we love.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-3">
                                Why should I buy a Hopewell Hockey stick? </a>
                        </div>
                        <div id="accordion-3" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Sticks wear out, break, or simply aren’t what you were looking for.  Maybe the flex is too stiff, or you don’t like the release of the puck with the new type of curve.   Perhaps you just want to try something new without spending your vacation money to do it.   Whatever the case might be, shop with confidence knowing you’ll get something light, responsive, and well priced.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-4">
                                Do you only sell hockey sticks?</a>
                        </div>
                        <div id="accordion-4" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> The short answer is yes, but just for now. Our longer-term goal is to be the one-stop shop for hockey equipment. We’re also developing next-generation, first-to-market products for the sport. Stay tuned.
                                        </p>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->



                    <h3 id="sticks" class="hhockey-faq-header">Our Sticks</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-5">
                                How do our sticks compare to those of major brands? </a>
                        </div>
                        <div id="accordion-5" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Our sticks are as light and responsive as the top models from major brands. These companies pour millions of dollars into 'research' and marketing in order to sell features like 'multiple kick points'. By selling directly to customers and avoiding gimmicks, we're able to deliver a superior product for half the price.</p> <!-- Don't believe us? Check out what D1 and professional players have to say about our sticks.-->
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-6">
                                Can I customize a stick?</a>
                        </div>
                        <div id="accordion-6" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We offer a wide variety of stick flexes and curves. However,  we currently do not fully customize sticks.  If the stick you want is out of stock, or there is a configuration you are looking for, we would love to hear from you.   <a href="{% url 'contact_page' %}">Visit
                                            our contact Page</a>
                                        </p>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->


                    <h3 id="store" class="hhockey-faq-header">Purchasing our Products</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9-2">
                                I live outside of the United States, can I make a purchase?</a>
                        </div>
                        <div id="accordion-9-2" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We do not support purchases outside of the United States.  In the future, we will allow purchases from other countries.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9-1">
                                What is included in my purchase statement?</a>
                        </div>
                        <div id="accordion-9-1" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> When a card is charged, a statement descriptor will appear on your statement.  This is simply a description of what you just purchased.  Our descriptor is HOCKEY EQUIPMENT; you will see this on your monthly credit card statement.  Please note that our card issuing bank can automatically include other account information to show your statement.  None of this information is stored on our servers and is handled entirely by Stripe.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-9">
                                Can I buy your sticks at a pro shop?</a>
                        </div>
                        <div id="accordion-9" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Not currently, but we plan to work with local pro shops in the future. If you are a pro shop owner who is interested in selling our sticks, please contact us at info@hopewellhockey.com.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-10">
                                What payment methods can I use? </a>
                        </div>
                        <div id="accordion-10" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We accept all major credit cards - Mastercard, Visa, and American Express.  We do not accept cash, CODs or checks online.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-12">
                                Is my Credit Card information Secure?</a>
                        </div>
                        <div id="accordion-12" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> We have partnered with Stripe in order to provide you with a reliable, secure way to shop on our site.  With Stripe, communications with their services are secure, your information never touches our backend systems, and we do not store any sensitive information about you.  For more information about Stripe, please visit their <a href="https://stripe.com/" target="_blank">site</a>.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-13">
                                How do I get Shipping Notifications?</a>
                        </div>
                        <div id="accordion-13" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> When you make a purchase, you will immediately receive an order number via email.  If you don’t see this email, check your spam folder and modify your whitelist to include hopewellhockey.com. If for some reason you do not receive a confirmation email, please contact us at info@hopewellhockey.com and an associate will get back to you within 48 hours.  <br><br>  Currently we do not provide shipping tracking information for our first batch of sticks.  If you would like one, we can provide it to you if you send us an email at info@hopewellhockey.com.

                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <h3 id="problems" class="hhockey-faq-header">Problems</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-14">
                               My stick broke/arrived damaged. Do I get a refund?   </a>
                        </div>
                        <div id="accordion-14" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Our warranty is 30 days from the day you receive your stick in the mail. If your stick arrives damaged or breaks within the warranty time period, we will refund your purchase cost.  Please check out our <a href="{% url 'warranty_page' %}"> Warranty Claims </a> for more information.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-142">
                               I entered the wrong shipping address. How do I change it?   </a>
                        </div>
                        <div id="accordion-142" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> No problem. Contact us at info@hopewellhockey.com. Include your order number in the subject line and an associate will get back to you within 48 hours.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->




                    <h3 id="account" class="hhockey-faq-header">My Account</h3>
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-19">
                                I got locked out of my account, how do I recover it?</a>
                        </div>
                        <div id="accordion-19" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> You are able to recover the account by resetting your password.  Navigate to the login page, and click ‘forgot password’.  An email will be sent to the address you registered with the
                                            account.
                                        </p>
                                        <p>
                                            If you are logging into an account using facebook or twitter, you will not be able to reset your password through hopewellhockey.com.  Please consult with your facebook or twitter account for help
                                            with your password.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->

                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-21">
                                Will Hopewell Hockey post to my facebook or Twitter?</a>
                        </div>
                        <div id="accordion-21" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Currently, we will not be posting any content to social media from this site.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-22">
                                My account has been compromised, what do I do? </a>
                        </div>
                        <div id="accordion-22" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> If you suspect your account has been compromised, please email us at info@hopewellhockey.com.  We can suspend, lock or delete your account.  We will not provide sensitive information including an account's username or email upon request.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-23">
                                I Want to delete my account,  how do I do it?</a>
                        </div>
                        <div id="accordion-23" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Deleting your account is simple -  simply navigate to the account settings page.   Under my profile, click the “Delete Profile” Button.  Enter your password, and your account will be permanently removed from our system.   We cannot recover accounts deleted in this manner.
                                        </p>

                                        <p>
                                            Facebook and Twitter users must request that their account be removed from our system.  Since we do not store sensitive Facebook or Twitter information, the delete function will not function
                                            without a password.  We can remove the account from our back end systems.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->
                    <div class="panel">
                        <div class="accordion-heading">
                            <a class="title-2 fsz-16 " data-toggle="collapse" data-parent="#accordion"
                               href="#accordion-24">
                                How do I turn off emails?</a>
                        </div>
                        <div id="accordion-24" class="panel-collapse collapse">
                            <div class="cart-box title-1 fsz-16">
                                <ul class="acnt-list">
                                    <li>
                                        <p class="faqtext"> Currently, we do not send out emails for advertising or promotional purposes.  Our email system is strictly for account or ordering our products.  These actions require explicit notification to our customers, and thus will not be disabled.  All emails you receive are one time in nature, and will not clutter up your inbox -  we promise.
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- END QUESTION -->



            </aside>
            <div class="visible-xs pt-70"></div>
            <!-- Product Details Ends -->



        </div>
    </div>
</section>
<!-- / Page Ends -->
{% endblock %}