{% extends "layout/app.html" %}

{% block content %}
<article>
<!-- CONTENT AREA -->
    <section class="sec-space light-bg hh-intro hhome-bg">
        <div class="container theme-container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="brand-wrap row pt-40">
                        <div class="item col-md-11 col-xs-12">
                            <a href="#"> <img src="http://placehold.it/500x300" alt="Intro" />
                                <span class="title-1 line">Visit website</span> </a> </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <br>
                    <h1 class="">
                        <span class="md">Join the team at</span>
                        <span class="lg">HERITAGE HOCKEY</span>
                        <span>Simply Hockey sticks</span>

                    </h1>

                    <div class="about-us pt-40 text-center">
                        <p>Quisque ut nisi. Donec mi odio, faucibus at, scelerisque quis,
                            convallis in, nisi. Suspendisse non nisl sit amet velit hendrerit
                            rutrum. </p>
                        <a class="btn eligable" href="#">Take a Shot</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Counter Start -->
    <section class="sticks">
        <div class="container container-sticks">
            <div class="col-lg-2">
                <aside class="callout sticks-aside">
                    <div>
                        <a href="#">
                            <img src="http://placehold.it/150x150">
                            <strong>Join The Membership</strong>
                            <p>We have memberships to make buying good sticks easy.</p>
                        </a>
                    </div>
                </aside>
                <aside class="callout sticks-aside">
                    <div>
                        <a href="#">
                            <img src="http://placehold.it/150x150">
                            <strong>Chose the plan</strong>
                            <p>Pick the sticks, and how often to get them</p>
                        </a>
                    </div>
                </aside>
            </div>
            <div class="col-lg-8">
                <a href="#">
                    <img class="stick-image bottom lazy" src="http://placehold.it/600x275" alt="stick">
                </a>
            </div>

            <div class="col-lg-2">

                <aside class="callout sticks-aside">
                    <div>
                        <a href="#">
                            <img src="http://placehold.it/150x150">
                            <strong>Get sticks Shipped</strong>
                            <p>Your stick will be at your front door.</p>
                        </a>
                    </div>
                </aside>
                <aside class="callout sticks-aside">
                    <div>
                        <a href="#">
                            <img src="http://placehold.it/150x150">
                            <strong>Topic 4</strong>
                            <p>Pick the sticks, and how often to get them</p>
                        </a>
                    </div>
                </aside>
            </div>
            <div class="container container-sticks">
                <div class="col-lg-12 last-sticks">
                    <h1>Simple Delivery, guarantee quality</h1>
                    <p>No more paying more for sticks</p>
                    <a class="btn eligable" href="#">Take the ice</a>
                </div>
            </div>
    </section>
    <!-- / Counter Ends -->
    <!-- Brand-About Starts-->
    <section class="brand-about-sec sec-space">
        <div class="container theme-container">
            <div class="row">
                <div class="col-md-7 col-sm-6">

                    <div class="brand-wrap row pt-40">
                        <img src="http://placehold.it/500x300" alt="Sticks">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <h2 class="section-title"> About Heritage Hockey </h2>
                    <div class="about-hh pt-40 text-center">
                        <p>Quisque ut nisi. Donec mi odio, faucibus at, scelerisque quis,
                            convallis in, nisi. Suspendisse non nisl sit amet velit hendrerit
                            rutrum. Ut leo. Ut a nisl id ante tempus hendrerit. Proin pretium,
                            leo ac pellentesque mollis, felis nunc ultrices eros. Donec id justo.
                            Praesent porttitor.</p>
                        <p>Nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium
                            mi sem ut ipsum. Curabitur suscipit suscipit tellus. Praesent
                            vestibulum dapibus nibh. Etiam iaculis nunc ac metus. Ut id nisl
                            quis enim dignissim sagittis.</p><br>
                        <a class="btn eligable" href="#">Our Story</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Brand-About Ends -->
</article>
<!-- / CONTENT AREA -->

{% endblock %}