{% extends "layout/app.html" %}

{% block content %}
<article>
    <!--Breadcrumb Section Start-->
                <section class="contactPage-bg">
                    <div class="theme-container container ">
                        <div class="site-breadcumb aboutPage-hh">

                            <ol class="breadcrumb breadcrumb-menubar">
                                <li> <a href="{% url 'home_page' %}"> Home </a>  Privacy Policy </li>
                            </ol>
                        </div>
                    </div>
                </section>
       <!--Breadcrumb Section End-->
    <section class="article-content">
    <div class="container theme-container sec-space toc">
        <div class="row  pt-15">
            <div class="col-md-12">
            <h2 class="section-title"> Privacy Policy </h2><br>
            <h3 class="toc-section-header">LAST UPDATED ON OCTOBER 7 2016</h3>
            <hr class="divider-dotted">
            <p> Heritage Hockey, LLC. ("<strong>Heritage Hockey</strong>", "<strong>we</strong>") values
            our users privacy and is fully committed to protecting your personal information.  Heritage Hockey
            is an online service that delivers hockey sticks to its members ("<strong>Services</strong>")</p>
            <br>
            <p>The Privacy policy delineates how and when we collect, use share your information when you
            use our services.  This policy shall provice you with notice of the following:</p>


            <ol>
                <li>
                    <a href="#information">INFORMATION COLLECTION AND USE</a>
                </li>
                <ul>
                    <li>Information collecting upon registration</li>
                    <li>Information we collect from facebook</li>
                </ul>
                <li>
                    <a href="#cookies">COOKIES AND TRACKING TECHNOLOGY</a>
                </li>
                <ul>
                    <li>Cookies information</li>
                    <li>Local Storage Objects</li>
                </ul>
            </ol>

            <p> McDavid missed three months because of a broken left clavicle, but had 48 points in 45
                games, and his 1.07 points per game average was third in the League behind Patrick Kane
                of the Chicago Blackhawks (1.29) and Jamie Benn of the Dallas Stars (1.09).
                McDavid was third in voting for the Calder Trophy, which was won by the Blackhawks'
                Artemi Panarin.NBC Sports Group NHL commentator Pierre McGuire said McDavid, 19, could be a lot higher than some might expect despite having played all of 45 games in the NHL.

"I had Connor McDavid as the second-best player in the League, right behind [Pittsburgh Penguins captain] Sidney Crosby," McGuire said during a conference call Thursday.</p><br>
            <p> McDavid missed three months because of a broken left clavicle, but had 48 points in 45
                games, and his 1.07 points per game average was third in the League behind Patrick Kane
                of the Chicago Blackhawks (1.29) and Jamie Benn of the Dallas Stars (1.09).
                McDavid was third in voting for the Calder Trophy, which was won by the Blackhawks'
                Artemi Panarin.NBC Sports Group NHL commentator Pierre McGuire said McDavid, 19, could be a lot higher than some might expect despite having played all of 45 games in the NHL.

"I had Connor McDavid as the second-best player in the League,
                right behind [Pittsburgh Penguins captain] Sidney Crosby,"
                McGuire said during a conference call Thursday.</p>


             <p id="information" class="anchor"><strong>1. INFORMATION AND COLLECTION USE</strong></p>
             <p> McDavid missed three months because of a broken left clavicle, but had 48 points in 45
                games, and his 1.07 points per game average was third in the League behind Patrick Kane
                of the Chicago Blackhawks (1.29) and Jamie Benn of the Dallas Stars (1.09).
                McDavid was third in voting for the Calder Trophy, which was won by the Blackhawks'
                Artemi Panarin.</p>


              <p id="cookies" class="anchor"><strong>2. HOW WE USE COOKIES</strong></p>
             <p> McDavid missed three months because of a broken left clavicle, but had 48 points in 45
                games, and his 1.07 points per game average was third in the League behind Patrick Kane
                of the Chicago Blackhawks (1.29) and Jamie Benn of the Dallas Stars (1.09).
                McDavid was third in voting for the Calder Trophy, which was won by the Blackhawks'
                Artemi Panarin.</p>

         </div>
      </div>
    </section>
</article>
{% endblock %}