{% extends "layout/app.html" %}
{% load staticfiles %}
{% load category_tags %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'pages/home/assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'pages/sticks/assets/mobirise/css/mbr-additional.css' %}" type="text/css">
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block content %}

<section class="mbr-section mbr-parallax-background img-1" id="content5-x"
         style="background-image: url(/static/pages/sticks/assets/images/screen-shot-2017-02-02-at-5-2000x1022.png); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <h3 class="mbr-section-title display-2 logo-font">CHAMPIONS WIN HERE</h3>
         <div class="row">
            <div class="col-xs-12 text-xs-center">

                <a class="btn btn-lg btn-white-outline btn-white"
                                   href="{{ homepage_url }}">SHOP STICKS</a>
            </div>
            <br>
        </div>
        <div class="lead"></div>
    </div>

</section>

<!--section class="engine"><a rel="external" href="https://mobirise.com">Mobirise</a></section><section class="mbr-section mbr-section__container article" id="header3-r" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="display-2 text-center">Check out our collection</h1>
                <small class="mbr-section-subtitle">Guaranteed to perform, or your money back</small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-u" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p>You take to the ice and notice something is a little different. &nbsp;You have a few extra bucks in your bank account, and feel like you just purchased a high quality stick. &nbsp;After ripping a few shots, you realize that your release is just as good as it was after spending $300 on a top of the line model. &nbsp;This is how it was ment to be. &nbsp;No more getting ripped off by fancy technology and promises that don't effect your game. &nbsp;&nbsp;</p><p><br></p><p><br></p></div>
        </div>
    </div>

</section-->

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-t" style="background-color: rgb(255, 255, 255);
padding-top: 40px;">
    <h1 class="text-center logo-font">The Heritage</h1>
    <small class="mbr-section-subtitle text-center">Hopewell Hockey’s Flagship Model</small>
    <div class="mbr-cards-row row striped">

        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 0px; padding-bottom: 40px;">
            <div >
                <div class="card card-block">
                    <div class="card-img">
                        <img src="/static/pages/sticks/assets/images/stick-2.png" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Quality</h4>
                        <!--h5 class="card-subtitle">$149</h5-->
                        <p class="card-text"><p>Our flagship model.  The Heritage weighs in at 410g - as light as the leading brands and just as strong. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 0px; padding-bottom: 80px;">
            <div>
                <div class="card card-block">
                    <div class="card-img">
                        <img src="/static/pages/sticks/assets/images/stick-3.png" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Price</h4>
                        <p class="card-text">Our sticks are as responsive as a $300 stick, but are half the cost. Priced attractively at  <strong>149$</strong>.
                        </p><br><br><br>
                        <div>
                                <class="card-btn"><a href="{{ homepage_url }}"
                                                    class="btn btn-lg btn-black-outline btn-black">SHOP OUR STICKS
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 0px; padding-bottom: 80px;">
            <div>
                <div class="card card-block">
                    <div class="card-img">
                        <img src="/static/pages/sticks/assets/images/stick-4.png" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Guarantee</h4>

                        <p class="card-text">If your stick breaks within 30 days, we will replace your stick or refund you 100% of the purchase cost.</p>

                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

{% endblock %}

