{% extends "layout/app.html" %}

{% block content %}
<article>

    <section class="article-content">
    <div class="container theme-container sec-space toc">
        <div class="row  pt-15">
            <div class="col-md-12"><br>
            <h2 class="section-title"> Terms and Conditions </h2><br>
            <h3 class="toc-section-header">LAST UPDATED ON OCTOBER 7 2016</h3>
            <hr class="divider-dotted">
             <p class="tocFont">ANY ACCESS TO AND USE OF heritage-hockey.COM, INCLUDING ANY SERVICES,
                 CONTENT OR INFORMATION ON THE WEB SITE (COLLECTIVELY OR INDIVIDUALLY,
                 AS THE CASE MAY BE, THE "SITE") IS SUBJECT TO THE TERMS AND CONDITIONS
                 OF USE AS SET FORTH IN THIS DOCUMENT AS THEY ARE AMENDED FROM TIME TO TIME
                 (THE "TERMS"). BY ACCESSING OR OTHERWISE USING THE SITE, YOU AGREE TO BE
                 BOUND BY THE TERMS. THE TERMS MAY CHANGE FROM TIME TO TIME IN heritage-hockey's
                 SOLE DISCRETION AND YOUR USE OF THE SITE AFTER SUCH CHANGES SHALL CONSTITUTE
                 YOUR AGREEMENT TO ABIDE BY THE TERMS AS CHANGED. IF YOU DO NOT AGREE TO THE
                 TERMS, YOU MAY NOT ACCESS OR USE THE SITE. </p>

             <p ><strong>1. CHANGES TO SERVICES ETC</strong></p>
             <p class="tocsubhead"><strong>1.1 Site Use</strong></p>
             <p> McDavid missed three months because of a broken left clavicle, but had 48 points in 45
                games, and his 1.07 points per game average was third in the League behind Patrick Kane
                of the Chicago Blackhawks (1.29) and Jamie Benn of the Dallas Stars (1.09).
                McDavid was third in voting for the Calder Trophy, which was won by the Blackhawks'
                Artemi Panarin.</p>


             <p ><strong>2. NEXT TOPIC</strong></p>
             <p class="tocsubhead"><strong>2.1 Another important legal saying</strong></p>
             <p>I really hope that there is some legal boilerplate for all of this stuff.</p>



         </div>
      </div>
    </section>
</article>
{% endblock %}