{% extends "layout/app.html" %}

{% block title %}Hopewell Hockey Warranty{% endblock %}

{% block content %}
<article>

    <section class="article-content">
        <div class="container theme-container sec-space toc">
            <div class="row  pt-15">
                <div class="col-md-12"><br>
                    <h2 class="section-title"> Hopewell Hockey Warranty Claims</h2><br>
                    <hr class="divider-dotted">
                    <div id="privacyPolicy">

                        <p>
                            Hopewell Hockey stands behind its promise for quality with a 30 day warranty on our sticks.  We understand that the game can get physical, and that sticks will break suddenly.
                        </p>

                         <p>
The warranty details are as follows:
                        </p>

                         <p>
We offer our warranties within the defined warranty period - 30 days from the date of delivery with no exceptions.   Our warranty covers broken sticks where there was a defect in manufacturing.  It does not cover small cracks, chips or abrasions.
                        </p>

                         <p>
In order to make a claim - please complete the form below and send an email.  We only accept email and do not accept emails through a social media platform including both Facebook or Twitter.
                        </p>
<br><br>
                        <h1>Completing the claim</h1><br>
                        <p>
                            Please send us an email at info@hopewellhockey.com with the following information provided in the email.  (Note, use “HOPEWELL Hockey Warranty Claim” in the subject line)
                        </p>

                        <p><strong>1. First and Last name.</strong></p>
                        <p><strong>2. A contact phone number and email.</strong></p>
                        <p><strong>3. The order number for the stick that you purchased.</strong></p>
                        <p><strong>4. The stick model purchased.</strong></p>
                        <p><strong>5. The failure that occurred (i.e broken blade, broken upper shaft etc.)</strong></p>
                        <p><strong>6. How the stick failed ( i.e Slap shot, boards, etc.)</strong></p>
                        <p><strong>7. Attach a photo of the damaged stick.</strong></p>

                        <p>
                          A customer service representative will respond to you in 48 to 72 hours.  We will get your claim reviewed and processed as quickly as possible
                        </p>
                    </div>
                </div>
            </div>
    </section>
</article>
{% endblock %}