{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
    <p>{% trans "We are sorry to see you go.  Please type in your password in order to delete your account." %}</p>

     <div class="aui-message aui-message-error">
                        <h3>{% trans "Warning" %}</h3>
            {% blocktrans %}
                This will delete all information about you from the site.  Deleting your profile cannot be
                undone.
            {% endblocktrans %}
    </div>

    <form id="delete_profile_form" action="." method="post" class="form-horizontal">
        {% csrf_token %}
        {% include "partials/form_fields.html" %}

        <div class="form-group">
            <button class="btn btn-lg btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
            {% trans "or" %} <a class="btn-linkCheckout"
                href="{% url "customer:profile-view" %}">{% trans "cancel" %}</a>.
        </div>
    </form>
{% endblock tabcontent %}
