{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
{% basket_form request product 'single' as basket_form %}
<div class="block-inline">
    <ul class="prod-meta">
        <!--li> <a class="fa fa-heart meta-icon" href="#"></a> </li>
        <li> <a class="fa fa-retweet meta-icon" href="#"></a> </li-->
        <li>


            <form action="{% url 'basket:add' pk=product.pk %}" method="post">
                {% csrf_token %}
                {{ basket_form.as_p }}
                <button type="submit"
                        class="btn btn-lg btn-black-outline btn-black"
                        data-loading-text="{% trans 'Adding...' %}">
                    {% trans "Add to basket" %}
                </button>
            </form>
        </li>
    </ul>
</div>
{% else %}
<span class="btn btn-lg btn-black-outline btn-black">{% trans "Add to basket" %}</span>
{% endif %}
