{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load i18n %}

<article class="review">
    <div class="blog-wrap img-effect">
        {% iffeature "reviews" %}
        {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
        {% endiffeature %}


        <div class="blog-heading">
            {% blocktrans with review_date=review.date_created %}
            <a href="#" class="date"> <span class="font-2 fsz-24">HH</span>
                <b></b>  </a>
            {% endblocktrans %}
            <a href="{{ review.get_absolute_url }}" class="blog-title-custom">{{ review.title }}</a>
        </div>
        <div class="blog-detail pt-25 blog-text">
            <p>{{ review.body|striptags }}</p>
            <p>
                <small>
                    {% if review.user == user %}
                    {% blocktrans with review_date=review.date_created %}
                    Reviewed by you on {{ review_date }}
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with name=review.reviewer_name review_date=review.date_created %}
                    Reviewed by <strong>{{ name }}</strong> on {{ review_date }}
                    {% endblocktrans %}
                    {% endif %}
                    | <a href="{% url 'catalogue:reviews-detail' product_slug=product.slug product_pk=product.pk pk=review.pk %}">
                    {% trans 'Check it out' %}</a>
                </small>
            </p>
        </div>



    </div>
</article>
