{% load currency_filters %}
{% load i18n %}

<div class="basket-mini pull-right hidden-xs">
    <span class="btn-group">
        <ul class="nav navbar-nav font-navbar-header">
           <li>
               <a href="{% url 'faq_page' %}" >
                   Help
               </a>
           </li>
            {% if user.is_authenticated %}
               <li class="dropdown">
                   <a href="{% url 'customer:summary' %}">
                       {{ user.get_full_name|default:'Hopewell Hockey Dangler' }}
                   </a>
                                    </li>
              {% else %}
                  <li><a href="{% url 'customer:login' %}">Account</a></li>
              {% endif %}
            <li>
                <a href="{% url 'basket:summary' %}">{% trans "Cart" %}</a>
            </li>
            <li>
                <a href="{% url 'basket:summary' %}">
                    {% if request.basket.is_tax_known %}
                            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                        {% else %}
                            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                        {% endif %}
                    </a>
            </li>
            <li>
                    <i class="fa fa-shopping-cart fsz-40" aria-hidden="true" id="nav-cart-toggle"></i>
            </li>
        </ul>



        <ul class="dropdown-menu pull-right" id="nav-list">
            <li>{% include "oscar/basket/partials/basket_quick.html" %}</li>
        </ul>
    </span>
</div>