{% load i18n %}
{% load category_tags %}

<aside class="col-md-3 col-sm-4 col-xs-12 cate-wrap">
    <div class="widget-wrap">
        <h2 class="widget-title"> Shop By </h2>
        <div class="widget-box">
            <h3 class="title-1 fsz-14"> Categories </h3>
            <ul>
                {% category_tree depth=2 as tree_categories %}
                {% if tree_categories %}
                {% for tree_category, info in tree_categories %}
                {% if info.has_children %}
                <li class="dropdown active">
                    <a aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> {{
                        tree_category.name }} </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}"> {{
                            tree_category.name }} </a></li>
                        <li class="dropdown">
                            <a aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Sub Menu</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Sub Menu 1</a></li>
                                <li><a href="#">Sub Menu 2</a></li>
                                <li class="dropdown">
                                    <a aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Sub Menu 3</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sub Menu 4</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% else %}

                <li><label class="checkbox-inline"><input type="checkbox" value="">
                    <span class="square-box"></span>
                    <a tabindex="-1" href="{{ tree_category.get_absolute_url }}"> {{ tree_category.name }}
                    </a>
                </label>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="widget-box">
        <h3 class="title-1 fsz-14"> Hockey Stick Brands </h3>
        <ul>
            <li><label class="checkbox-inline">
                <input type="checkbox" value="">
                <span class="square-box"></span>
                <span>Sakic Curve</span> </label> </li>

        </ul>
    </div>
    <div class="widget-box">
        <h3 class="title-1 fsz-14"> Filter by Price </h3>
        <div class="widget-content pb-35">
            <div id="price-range"></div>
            <div class="block-inline range-wrap">
                <span id="price-min"></span> - <span id="price-max"></span>
            </div>
        </div>
    </div>
</aside>