{% load i18n %}
{% load category_tags %}
{% load staticfiles %}

{% block extrastyles %}



{% endblock %}

{% block extrascripts %}
{% endblock %}

<aside class="col-md-3 col-sm-4 col-xs-12">
    <div class="widget-wrap">
        <h2 class="widget-title">My Account</h2>
        <div class="widget-box">
            {% if user.is_authenticated %}
            <ul>
                <li ><a href="{% url 'customer:summary' %}">
                    {{ user.get_full_name|default:'Hopewell Hockey Dangler' }}'s Account
                </a>
                </li>
                <li ><a href="{% url 'customer:order-list' %}">
                    My Order History
                </a>
                </li>
                <li ><a href="{% url 'contact_page' %}">
                    Get Help
                </a>
                </li>
                <li >
                    <a href="{% url 'customer:logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li ><a href="{% url 'customer:login' %}">
                    Login
                </a>
                </li>
            </ul>
            {% endif %}
        </div>

        <h2 class="widget-title"> Our Store </h2>
        <div class="widget-box">
            <ul>
                {% category_tree depth=2 as tree_categories %}
                {% if tree_categories %}
                {% for tree_category, info in tree_categories %}
                {% if info.has_children %}
                <li class="dropdown active">
                    <a aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> {{
                        tree_category.name }} </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}"> {{
                            tree_category.name }} </a></li>
                        <li class="dropdown">
                            <a aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Sub Menu</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Sub Menu 1</a></li>
                                <li><a href="#">Sub Menu 2</a></li>
                                <li class="dropdown">
                                    <a aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Sub Menu 3</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sub Menu 4</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% else %}

                <li>
                    <a tabindex="-1" href="{{ tree_category.get_absolute_url }}"> {{ tree_category.name }}
                    </a>
                    </label>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</aside>
