{% load i18n %}
{% load currency_filters %}
{% load category_tags %}
{% load staticfiles %}

{% block extrastyles %}



{% endblock %}

{% block extrascripts %}
{% endblock %}

<aside id="inner1" class="col-md-3 col-sm-4 col-xs-12">
    <div class="widget-wrap">
        <h2 class="widget-title">My Account</h2>
        <div class="widget-box">
            {% if user.is_authenticated %}
            <ul>
                <li ><a href="{% url 'customer:summary' %}">
                    {{ user.get_full_name|default:'New User' }}'s Account
                </a>
                </li>
                <li ><a href="{% url 'customer:order-list' %}">
                    My Order History
                </a>
                </li>
                <li ><a href="{% url 'contact_page' %}">
                    Get Help
                </a>
                </li>
                <li >
                    <a href="{% url 'customer:logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li ><a href="{% url 'customer:login' %}">
                    Login
                </a>
                </li>
            </ul>
            {% endif %}
        </div>

        <h2 class="widget-title"> Our Store </h2>
        <div class="widget-box">


            <ul data-navigation="dropdown-menu">

                {% category_tree depth=2 as tree_categories %}
                <li class="shopProducts-all"><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All Sticks" %}</a></li><hr>
                {% if tree_categories %}
                <li class="divider"></li>
                {% for tree_category, info in tree_categories %}
                {% if info.has_children %}
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                    <ul id="" class="shopNav-subMenu">
                        {% else %}
                        <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                        {% endif %}

                        {% for close in info.num_to_close %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
                {% endif %}
                <li class="divider"></li>

            </ul>

        </div>
    </div>
</aside>
