{% load staticfiles %}
{% load currency_filters %}
{% load i18n %}
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="{% url 'home_page' %}" class="navbar-brand navbar-link">
                <img src="{% static 'app/img/hhockeylogo.png' %}" class="navbar-logo" alt="Hopewell Hockey Logo" />
            </a>
            <span class="navbar-toggle collapsed"
                    data-target="#navcol-1"
                     data-toggle="collapse">
                <a class="toggle-icon fa fa-bars" href="#"> </a>

            </span>
        </div>
        <div id="navcol-1" class="collapse navbar-collapse">
            <div class="row navbar-collapse-hh">
                <div class="col-navbar-left">
                    <ul class="nav navbar-nav font-navbar-primary navbar-hhockey-right">
                        <li role="presentation"><a href="{% url 'about_page' %}">Heritage</a></li>
                        <li role="presentation"><a href="/shop">Sticks <!--sup class="bubble font-1"> <span
                                    class="hot-tag">New
                                 </span> </sup--></a>
                        </li>
                        <li role="presentation"><a href="/shop">Plans </a>
                        </li>
                        <li role="presentation" class="hidden-lg hidden-md hidden-sm">
                            <a href="{% url 'customer:summary' %}">
                                 {{ user.get_full_name|default:'Account' }}
                             </a>
                        </li>
                        <li role="presentation" class="hidden-lg hidden-md hidden-sm">
                            <a href="{% url 'faq_page' %}" >
                               Help
                           </a>
                        </li>
                        <li role="presentation" class="hidden-lg hidden-md hidden-sm">
                            <a href="{% url 'basket:summary' %}">{% trans "Cart" %}</a>
                        </li>

                    </ul>
                </div>
                <div class="col-navbar-right navigation">
                    <ul class="nav navbar-nav primary-navbar navbar-right">
                        <li class="cart-hover" role="presentation">
                            {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}
                            {%endblock mini_basket%}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>
</nav>
</div>


