{% load staticfiles %}
{% load currency_filters %}
{% load i18n %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'pages/about/assets/et-line-font-plugin/style.css' %}">
<link rel="stylesheet" href="{% static 'pages/about/assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'pages/about/assets/dropdown/css/style.css' %}">
<link rel="stylesheet" href="{% static 'pages/about/assets/theme/css/style.css' %}">
<link rel="stylesheet" href="{% static 'pages/about/assets/mobirise/css/mbr-additional.css' %}" type="text/css">
{% endblock %}

{% block extrascripts %}
<input name="animation" type="hidden">
{% endblock %}

<section id="ext_menu-10">
    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">
            <div class="mbr-table">
                <div class="mbr-table-cell">
                    <div>
                        <a href="{% url 'home_page' %}" class="navbar-logo"><img
                                src="{% static 'pages/navbar/assets/images/hh_logo2.png' %}"
                                alt="Hopewell Hockey"></a>
                    </div>
                </div>
                <div class="mbr-table-cell">
                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button"
                            data-toggle="collapse"
                            data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm"
                        id="exCollapsingNavbar">
                        <li class="nav-item">
                            <a class="nav-link link" href="{% url 'about_page' %}">OUR STORY</a></li>
                        <li class="nav-item">
                            <a class="nav-link link" href="{{ homepage_url }}">SHOP</a></li>
                        <li class="nav-item">
                            <a class="nav-link link" href="{% url 'faq_page' %}">
                                <span class="mbri-question mbr-iconfont mbr-iconfont-btn"></span></a></li>
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link link" href="{% url 'customer:summary' %}">
                            {% else %}
                            <a class="nav-link link" href="{% url 'customer:login' %}">
                            {% endif %}
                                <span class="etl-icon icon-profile-male mbr-iconfont mbr-iconfont-btn"></span></a></li>

                        <li class="nav-item"><a class="nav-link link" href="{% url 'basket:summary' %}" >
                            <span class="mbri-shoping-cart mbr-iconfont mbr-iconfont-btn"></span></a></li>
                    </ul>


                    <button hidden="" class="navbar-toggler navbar-close" type="button"
                            data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>



