{% load i18n %}

<div class="navbar navbar-inverse nav-checkout navbar-shop" ><hr>
    <ul class="nav navbar-nav nav-checkout" id="navShop">
        {% spaceless %}
            <li class="step1 {% if step == 1 %}active{% else %}{% if step == 2 %}previous{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 2 or step == 3 or step == 4 %}

                    <a href="{% url 'checkout:shipping-address' %}">
                        <span class="visible-inline-sm icon-ok "></span>
                        <span>
                            {% trans "Shipping address" %}
                        </span>
                    </a>
                {% else %}
                    <span>
                        {%  trans "Shipping address" %}
                    </span>
                {% endif %}
            </li>
            {% comment %}
            <!--li class="step2 {% if step == 2 %}active{% else %}{% if step == 3 %}previous{% else %}{% if step > 2
        %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                #{% if step == 3 or step == 4 %}
                    <a href="{% url 'checkout:shipping-method' %}">
                        <span class="visible-inline-sm icon-ok"></span>
                        <span>
                            {% trans "Shipping method" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                        {%  trans "Shipping method" %}
                    </span>
                {% endif %}
            </li-->
            {% endcomment %}
            <li class="step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step == 3 %}previous{% else %}{% if step == 5 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}{% endif %}">
                {% if step == 4 %}
                    <a href="{% url 'checkout:payment-details' %}">
                        <span class="visible-inline-sm icon-ok"></span>
                        <span>
                            {% trans "Payment" %}
                        </span>
                    </a>
                {% else %}
                    <span>
                        {%  trans "Payment" %}
                    </span>
                {% endif %}
            </li>

            <li
                    class="step4 {% if step == 4 %}active{% else %}{% if step == 5 %}visited{% else %}previous{% endif %}{% endif %} ">
                <span >
                    {% trans "Preview" %}
                </span>
            </li>

            <li class="step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
                <span >
                    {% trans "Confirmation" %}
                </span>
            </li>
        {% endspaceless %}
    </ul><!-- /navbar-inner -->
</div><!-- /navbar -->
