{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load currency_filters %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 ">

            <strong><span>The Process: </span></strong><span>  We have partnered with
            <a href="https://stripe.com/" _target="blank">Stripe </a> in order to bring your the most reliable and
            secure way to pay on the web.  They will handle your credit card, and none of your inforamtion
            will ever hit our servers.  </span>

            <br><br><strong><span>Note: </span></strong><span>When you click the pay button, you will
            still</span><strong><span> preview</span></strong>
            <span>your
            order in the next section.</span><br><br>

            <form action="{% url 'checkout:preview' %}"
              class="form-stacked text-center"
              method="POST">
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="{{ stripe_publishable_key }}"
                    data-amount="{{ order_total_incl_tax_cents }}"
                    data-name="{{ shop_name }}"
                    data-description="{{ basket.num_items }} items ({{ order_total.incl_tax|currency }})"
                    data-zip-code="true">
            </script>
        </form>
        </div>

    </div>
</div>

    {% endblock payment_details_content %}
{% endblock payment_details %}
