{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <form action="{% url 'checkout:preview' %}"
              class="form-stacked"
              method="POST"
              id="py-form">
             {% csrf_token %}
              {% include "partials/form_fields.html" with form=bankcard_form %}
        <button id="view_preview"
                href="{% url 'checkout:preview' %}"
                class="btn btn-lg btn-checkout-submit"
                type="submit">{% trans "Continue" %}
        </button>
         </form>
    {% endblock payment_details_content %}
{% endblock payment_details %}
