{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load currency_filters %}
{% load staticfiles %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block extrastyles %}

{% endblock %}

{% block extrascripts %}

{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview your order" %}
<p></p>
{% endblock %}

{% block payment_method %}
<div class="col-lg-6">
    <div class="sub-header">
		<h2>Payment</h2>
	</div>
	<div class="well well-success">
		<p>{{ order_total.incl_tax|currency }} will be debited from your bankcard.</p>
		<div class="alert-actions">
			<a href="{% url 'checkout:payment-details' %}" class="btn">Change payment details</a>
		</div>

</div>
</div>
{% endblock %}

{% block hiddenforms %}

{% endblock %}

{% block place_order %}
<form method="post" action="{% url 'checkout:preview' %}">
	{% csrf_token %}

	<div style="display:none">
		<input type="hidden" name="action" value="place_order" />
		{{ stripe_token_form.as_p }}
	</div>

    <div>
        <button id='place-order'
				type="submit"
				value="Place order"
				class="btn btn-lg btn-black-outline btn-black pull-right js-disable-on-click">Place order
		</button>
    </div>
</form>
{% endblock place_order %}
