{% extends "oscar/layout_2_col.html" %}
{% load i18n %}
{% load currency_filters %}

{% block navigation %}
{% include 'layout/navigation.html' %}

{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content_wrapper %}
<div class="container theme-container sec-space">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="shop-header-section mbr-parallax-background img-5 ">
                <div class="section-header">
                    <p>Ships in 3-5 business days</p>
                </div>
            </div>
        </div>
        {% include "oscar/partials/nav_side.html" %}
        <div class="col-md-9 col-sm-8 col-xs-11">
            {% include "oscar/promotions/welcome.html" %}
        </div>
    </div>
</div>
{% endblock  %}
