{% extends "oscar/layout_2_col.html" %}
{% load i18n %}
{% load currency_filters %}

{% block navigation %}
{% include 'layout/navigation.html' %}

{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
{% endblock %}

{% block content_wrapper %}
<div class="container theme-container sec-space">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="shop-header-section mbr-parallax-background img-5 ">
                <div class="section-header">
                    <span>Interested in a stick that's out of stock?  Let us know by emailing us at
                    </span><span><a
                        href="mailto:info@hopewellhockey.com">info@hopewellhockey.com</a>.</span>
                </div>
            </div>
        </div>
        {% include "oscar/partials/nav_side.html" %}
        <div class="col-md-9 col-xs-11">
            <h2 class="widget-title">Stick Guide</h2><hr/>
            {% include "oscar/promotions/welcome.html" %}
        </div>
    </div>
</div>
{% endblock  %}
