{% load i18n %}

    <article >
       <div class="widget-promo" >
           <div class="promo-section mbr-parallax-background img-4">
               <div class="section-promo left">
                   <h3>One-time Deals for the boys. Add line</h3>
                   <p>Find out everything you need to know by clicking here.  One more
                   Line for the text box.</p>
                   <button class="btn btn-lg btn-white-outline btn-white">Shop Now</button>
               </div>
        </div>
       </div>
    </article>