{% load i18n %}

    <article >
       <div class="widget-promo" >
           <div class="promo-section mbr-parallax-background img-4">
               <div class="section-promo left">
                   <h3>The Store</h3>
                   <p>Our sticks are as light and responsive as a $300 stick, but are half the cost. </p>
                   <a href="{% url 'faq_page' %}" class="btn btn-lg btn-white-outline btn-white">Questions?</a>
               </div>
        </div>
       </div>
    </article>