{% extends "oscar/layout.html" %}

{% load history_tags_custom %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
{{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
{{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block header %}
{% endblock header %}

{% block navigation %}
    {% include 'layout/navigation.html' %}
    {% include "oscar/partials/nav_primary.html" %}
{% endblock %}

{% block contentshop %}
<main class="wrapper">
    <article class="product_page"><!-- Start of product page -->

        <div class="container theme-container ptb-70">
            <div class="row">
                 {% block product_gallery %}
                <div class="col-md-6 col-sm-12 single-prod-slider sync-sliedr">
                    {% include "oscar/catalogue/partials/gallery.html" %}
                </div>
                {% endblock %}

                {% block product_main %}
                <div class="col-md-6 col-sm-12 product_main">

                    {% if user.is_authenticated and user.is_staff %}
                    <a class="pull-right hidden-xs"
                       href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small>
                        <i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
                    {% endif %}
                    <div class="prod-details">
                        <div class="prod-title"> <h2>{{ product.get_title }}</h2></div>

                        <div class="block-inline">
                            <div class="prod-price font-2 pull-left fsz-16">
                                <ins>{% purchase_info_for_product request product as session %}
                                    {% if session.price.exists %}
                                    {% if session.price.excl_tax == 0 %}
                                    <ins>{% trans "Free" %}</ins>
                                    {% elif session.price.is_tax_known %}
                                    <ins>{{ session.price.incl_tax|currency:session.price.currency }}</ins>
                                    {% else %}
                                    <ins>{{ session.price.excl_tax|currency:session.price.currency }}</ins>
                                    {% endif %}
                                    {% else %}
                                    <ins>&nbsp;</ins>
                                    {% endif %}</ins> <del>$360.00</del>

                            </div>
                        </div>


                        {% block product_description %}
                        {% if product.description %}
                        <div id="product_description" class="discriptions pt-20">
                            <p>{{ product.description|safe }}</p>
                        </div>
                        {% endif %}
                        {% endblock %}

                    </div>

                    {% block product_basket_form %}
                    {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
                    {% endblock %}
                </div><!-- /col-sm-6 -->
            </div>
            {% endblock %}
            <br>
            <!-- Products Description Tabination Starts -->
            <div class="tabs-wrap">
                <div class="tabs">
                    <ul id="tabs" class="nav font-2 theme-tabs">
                        <li class="active"><a href="#prod-tab-2" data-toggle="tab"> Reviews </a></li>
                        <li class=""><a href="#prod-tab-1" data-toggle="tab"> Description </a></li>
                        <li class=""><a href="#prod-tab-3" data-toggle="tab"> Info </a></li>
                    </ul>
                </div>
                <div class="tab-content prod-tab-content">
                    <div id="prod-tab-1" class="tab-pane fade">
                        <p>{{ product.description|safe }}</p>
                    </div>
                    <div id="prod-tab-2" class="tab-pane fade in active">
                        {% iffeature "reviews" %}
                            {% block product_review %}
                            <section>
                                <div id="reviews" >
                                    {% if product.num_approved_reviews > 3 %}
                                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}"
                                       class="btn pull-right">{% trans "See all reviews" %}</a>
                                    {% endif %}
                                </div>

                                {% if product.num_approved_reviews == 0 %}
                                <p>
                                    {% if product|is_review_permitted:user %}
                                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                            {% blocktrans %}This product does not have any reviews yet -
                                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                       {% endblocktrans %}
                                    {% else %}
                                        {% trans "This product does not have any reviews yet" %}.
                                    {% endif %}
                                </p>
                                {% else %}
                                <ol class="list-unstyled review-list">
                                    {% for review in product.reviews.approved.all|slice:":3" %}
                                    <li>
                                        {% include 'oscar/catalogue/partials/review.html' %}
                                    </li>
                                    {% endfor %}
                                </ol>
                                {% endif %}
                            </section>
                            {% endblock product_review %}
                        {% endiffeature %}

                    </div>
                    <div id="prod-tab-3" class="tab-pane fade in ">
                        {% block product_info %}

                        <table class="table table-striped">
                            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
                            </tr>

                            {% purchase_info_for_product request product as session %}
                            {% if session.price.exists %}
                            <tr>
                                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                            </tr>
                            {% if session.price.is_tax_known %}
                            <tr>
                                <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>{% trans "In Stock?" %}</th>
                                <td>{{ session.availability.message }}</td>
                            </tr>
                            {% endif %}
                            {% for av in product.attribute_values.all %}
                            <tr>
                                <th>{{ av.attribute.name }}</th>
                                <td>{{ av.value_as_html }}</td>
                            </tr>
                            {% endfor %}
                            {% iffeature "reviews" %}
                            <tr>
                                <th>{% trans "Number of reviews" %}</th>
                                <td>{{ product.num_approved_reviews }}</td>
                            </tr>
                            {% endiffeature %}
                        </table>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- Products Description Tabination Ends -->
            {% with recommended_products=product.recommended_products.all|slice:":6" %}
            {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row">
                {% for product in recommended_products %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% recently_viewed_products current_product=product %}
        </div>
    </article><!-- End of product page -->
    </div><!-- /row -->



</main>
{% endblock contentshop %}

{% block extrascripts %}
{{ block.super }}
{% endblock %}
