{% extends "oscar/layout.html" %}

{% load history_tags_custom %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
{{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
{{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block header %}
{% endblock header %}

{% block navigation %}
{% include 'layout/navigation.html' %}
{% endblock %}

{% block contentshop %}
<article class="container theme-container pt-150 pb-50 product_page">
    {% include "partials/alert_messages.html" %}
    <article class="product_page"><!-- Start of product page -->
        <div class="container theme-container">
            <div class="row">
                {% block product_gallery %}
                <div class="col-md-6">
                    {% include "oscar/catalogue/partials/gallery.html" %}
                </div>
                {% endblock %}

                {% block product_main %}
                <div class="col-md-6 col-sm-12 product_main">

                    {% if user.is_authenticated and user.is_staff %}
                    <a class="pull-right hidden-xs custom-link"
                       href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small>
                        <i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
                    {% endif %}
                    <div class="prod-details">
                        <div class="prod-title"> <h2>{{ product.get_title }}</h2></div>

                        <div class="block-inline">
                            <div class="prod-price font-2 pull-left fsz-20">
                                <ins>{% purchase_info_for_product request product as session %}
                                    {% if session.price.exists %}
                                    {% if session.price.excl_tax == 0 %}
                                    <ins>{% trans "Free" %}</ins>
                                    {% elif session.price.is_tax_known %}
                                    <ins>{{ session.price.incl_tax|currency:session.price.currency }}</ins>
                                    {% else %}
                                    <ins>{{ session.price.excl_tax|currency:session.price.currency }}</ins>
                                    {% endif %}
                                    {% else %}
                                    <ins>&nbsp;</ins>
                                    {% endif %}</ins> <del>$300.00</del>
                            </div>
                        </div>
                        {% block product_description %}
                        <p>{{ product.description|safe }}</p>
                        {% endblock %}
                    </div>
                    {% block product_basket_form %}
                    {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
                    {% endblock %}
                </div><!-- /col-sm-6 -->
            </div>
            {% endblock %}
            <br>
            <!-- Products Description Tabination Starts -->
            <div class="tabs-wrap">

                <!-- Nav tabs -->
                <ul id="product-tabs" class="nav nav-tabs md-pills pills-default font-2" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link text-center" data-toggle="tab" href="#panel31" role="tab">
                            <i class="fa fa-globe fa-2x"></i><br> Description</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-center" data-toggle="tab" href="#panel32" role="tab">
                            <i class="fa fa-thumbs-o-up fa-2x"></i><br> Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" data-toggle="tab" href="#panel33" role="tab"><i class="fa fa-money fa-2x"></i><br> Price Info</a>
                    </li>
                </ul>
                <!-- Tab panels -->
                <div id="product-tab-content" class="tab-content">
                    <div class="tab-pane fade in show active" id="panel31" role="tabpanel">
                        <br>
                        <p>{{ product.description|safe }}</p>
                    </div>
                    <!--Panel 2-->
                    <div class="tab-pane fade in show" id="panel32" role="tabpanel">
                        <br>
                        {% iffeature "reviews" %}
                        {% block product_review %}
                        <section>
                            <div id="reviews">
                                {% if product.num_approved_reviews > 3 %}
                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}"
                                   class="btn pull-right custom-link">{% trans "See all reviews" %}</a>
                                {% endif %}
                            </div>

                            {% if product.num_approved_reviews == 0 %}
                            <p>
                                {% if product|is_review_permitted:user %}
                                {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                {% blocktrans %}This product does not have any reviews yet -
                                <a href="{{ add_review_url }}#addreview" class="custom-link">be the first
                                    to write
                                    one</a>.
                                {% endblocktrans %}
                                {% else %}
                                {% trans "This product does not have any reviews yet" %}.
                                {% endif %}
                            </p>
                            {% else %}
                            <ol class="list-unstyled review-list">
                                {% for review in product.reviews.approved.all|slice:":3" %}
                                <li>
                                    {% include 'oscar/catalogue/partials/review.html' %}
                                </li>
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </section>
                        {% endblock product_review %}
                        {% endiffeature %}

                    </div>
                    <!--/.Panel 2-->
                    <!--Panel 3-->
                    <div class="tab-pane fade" id="panel33" role="tabpanel">
                        {% block product_info %}<br>
                        <table class="table table-striped">
                            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
                            </tr>

                            {% purchase_info_for_product request product as session %}
                            {% if session.price.exists %}
                            <tr>
                                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                            </tr>
                            {% if session.price.is_tax_known %}
                            <tr>
                                <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>{% trans "In Stock?" %}</th>
                                <td>{{ session.availability.message }}</td>
                            </tr>
                            {% endif %}
                            {% for av in product.attribute_values.all %}
                            <tr>
                                <th>{{ av.attribute.name }}</th>
                                <td>{{ av.value_as_html }}</td>
                            </tr>
                            {% endfor %}
                            {% iffeature "reviews" %}
                            <tr>
                                <th>{% trans "Number of reviews" %}</th>
                                <td>{{ product.num_approved_reviews }}</td>
                            </tr>
                            {% endiffeature %}
                        </table>
                        {% endblock %}<br><br>
                    </div>
                    <!--/.Panel 3-->
                </div>


            </div>
            <!-- Products Description Tabination Ends -->
            {% with recommended_products=product.recommended_products.all|slice:":6" %}
            {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row">
                {% for product in recommended_products %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            {% recently_viewed_products current_product=product %}
        </div>
    </article><!-- End of product page -->
</article><!-- /row -->



</div>
{% endblock contentshop %}

{% block extrascripts %}
{{ block.super }}
{% endblock %}
