{% extends "layout/app.html" %}
{% load socialaccount %}

{% block content %}
<div class="login-wrap">
    <div class="col-sm-4 text-center">
        <div class="pb-30">
            <a href="index.html"> <img alt="Our Logo" src="http://placehold.it/150X100">
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <h2 class="fsz-36 section-title"> Sign In </h2>
        <p class="sub-detail fsz-16"> My Account</p>
        <div class="login-form">
            {% if form.errors %}
            <div class="aui-message aui-message-error">
                <p>
                    The email address or password you entered is incorrect.
                </p>

            </div>
            {% else %}
            <p>Enter Login information.</p>
            {% endif %}
            <form class="login" action="{% url 'account:login' %}" method="POST">
                {{ form.as_p}}
                {% csrf_token %}
                <input type="hidden" name="next" value=" {{ next }}" />
                <div class="form-group">
                    <button class="theme-btn btn-login small-btn btn-block" type="submit"> Login </button>
                </div>
            </form>
            <h5 class="fancy">or</h5>
        </div>
        <div class="row">
            <div class="col-xs-6 pb-25">
                <a href="{% provider_login_url 'facebook' %}" class="theme-btn btn-black small-btn"> <i
                        class="fa fa-facebook"></i>
                    <span>Facebook</span> </a>
            </div>
            <div class="col-xs-6 pb-25">
                <a href="{% provider_login_url 'twitter' %}" class="theme-btn btn-black small-btn"> <i
                    class="fa fa-twitter"></i> <span>Twitter</span> </a>
            </div>
        </div>
        <div class="text-center">
            <p class="fsz-16">
               <a href="{% url 'account:password_reset' %}"><strong>Forgot Password?</strong></a>
             </p>
            <p class="fsz-16">
               <a href="{% url 'account:register' %}"><strong>Not a member?  Sign up!</strong></a>
             </p>

        </div>
    </div>
</div>
</div>


{% endblock %}

