{% extends "layout/app.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}
<article class="password-change">
 <div class="login-wrap">
    <div class="col-sm-4 col-sm-offset-4">
        <h2 class="fsz-36 section-title"> Forgot Password?</h2>

        {% if form.errors %}
            <div class="aui-message aui-message-error">
                <p>
                    More Info
                </p>

            </div>
            {% else %}<br>
            <p class="fsz-16"> Enter your E-mail address to obtain a new password</p>
            {% endif %}
        <div class="login-form">
            <form class="login" action="." method="POST">
                {{ form.as_p}}
                {% csrf_token %}
                <div class="form-group">
                    <button class="theme-btn btn-login small-btn btn-block" type="submit"> Send Email</button>
                </div>
            </form>
        </div>
</div>
</article>

{% endblock %}