{% extends "layout/app.html" %}

{% block title %} Change Password Complete {% endblock %}

{% block content %}
<article>
<div class="login-wrap">
    <div class="col-sm-6 col-sm-offset-4">
        <h2 class="fsz-36 section-title"> Password Changed</h2>
        <p class="fsz-16"> Your Password has been successfully changed.</p>
        <div class="">
            <p class="fsz-16">
               <span>Go to </span><a href="{% url 'account:edit' %}"><strong>My Account</strong></a>
             </p>
            <p class="fsz-16">
               <span>Go to the </span><a href="{% url 'home_page' %}"><strong>Main Page</strong></a>
             </p>
        </div>
</div>
</article>


{% endblock %}