{% extends "layout/app.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}
<article class="password-change">
 <div class="login-wrap">
    <div class="col-sm-4 col-sm-offset-4">
        <h2 class="fsz-36 section-title"> Password</h2>

        {% if form.errors %}
            <div class="aui-message aui-message-error">
                <p>
                    Something went wrong, please re-enter a new password.
                </p>

            </div>
            {% else %}
            <p class="sub-detail fsz-16"> Change Your Password</p>
            {% endif %}
        <div class="login-form">
            <form class="login" action="." method="POST">
                {{ form.as_p}}
                {% csrf_token %}
                <div class="form-group">
                    <button class="theme-btn btn-login small-btn btn-block" type="submit"> Change Password </button>
                </div>
            </form>
        </div>
</div>
</article>


{% endblock %}