{% extends "layout/app.html" %}

{% block title %} Password Changed {% endblock %}

{% block content %}
<article class="password-change">
 <div class="login-wrap">
    <div class="col-sm-4 col-sm-offset-4">
        <h2 class="fsz-36 section-title"> All Set!</h2>
        <p class="fsz-16"> Your new password has been set.</p>

        <div class="">
            <p class="fsz-16">
               <span>You can now </span><a href="{% url 'account:login' %}"><strong>Log back in.</strong></a>
             </p>
        </div>
</div>
</article>

{% endblock %}