<!DOCTYPE html>
    <html lang="en">
    <head>
        {% include 'layout/head.html' %}

        <title>{% block title %}Heritage Hockey{% endblock %}</title>

    </head>
    <body id="home" class="wide">

        <!-- PRELOADER TO DO, Fix jQuery that isnt loading so this loads-->
        <div id="loading">
            <div class="loader">
                <div class="image">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <span class="title-1"></span>
            </div>
        </div>
        <!-- /PRELOADER -->
        <main class="wrapper home-page2">
            {% block content %}
            {% endblock %}
        </main>

        {% include 'layout/scripts.html' %}
    </body>
</html>