{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}Hopewell Hockey{% endblock %}</title>
    {% include 'layout/head.html' %}
    {% block extrastyles %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block tracking %}
    {# Default to using Google analytics #}
    {% include "oscar/partials/google_analytics.html" %}
    {% endblock %}


</head>
    <body id="home" class="wide">
        <main class="wrapper home-page2">
            {% block navigation %}
                {% include 'layout/navigation.html' %}
            {% endblock %}
            {% block content %}{% endblock %}
            {% block contentshop %}{% endblock %}

            {% include 'layout/footer.html' %}
    </main>

            {% block cdn_scripts %}
                <!-- jQuery -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery-1.9.1.min.js" %}"><\/script>')</script>
            {% endblock %}
            <!-- Local Scripts -->
            {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}
        {% include 'layout/scripts.html' %}
        <script type="text/javascript">
                    $(function() {
                        {% block onbodyload %}{% endblock %}
                    });
        </script>

        <!--script type="text/javascript">
               $(document).ready(function(){
                  {% block domready %}
                  {% endblock %}
               });
        </script-->
    </body>
</html>