{% load staticfiles %}

<!-- FOOTER -->
            <footer class="footer-wrap">

                <section class="sec-space footer-2">
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <a href="{% url 'home_page' %}">
                                    <img src="{% static 'pages/navbar/assets/images/HH_logo3.png' %}"
                                         class='img-footer'
                                                 alt="logo" />
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-3">
                                <h2 class="section-title wht pb-30"> Our Products</h2>
                                <ul>
                                    <li> <a href="{{ homepage_url }}"> The Shop </a> </li>
                                    <li> <a href="{% url 'sticks_page' %}"> Sticks </a> </li>
                                    <li> <a href="{% url 'warranty_page' %}"> Warranty Claims </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-3">
                                <h2 class="section-title wht pb-30"> Help Center </h2>
                                <ul>
                                    <li> <a href="{% url 'about_page' %}"> Who we are</a> </li>
                                    <li> <a href="{% url 'faq_page' %}"> Questions</a> </li>
                                    <li> <a href="{% url 'contact_page' %}"> Get in touch</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-3">
                                <h2 class="section-title wht pb-30"> Policies</h2>
                                <ul>
                                    <li> <a href="{% url 'toc_page' %}"> Terms of Use</a> </li>
                                    <li> <a href="{% url 'privacyPolicy_page' %}"> Privacy Policy </a> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- FOOTER-2 Ends -->

                <!-- Footer Banner-2 Starts -->
                <section class="footer-banner">
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-sm-7 hh-social-media">
                                <ul class="list-inline social-media light-media">
                                    <li> <a href="https://twitter.com/HopewellHockey" class="fa fa-twitter"
                                    target="_blank"> </a> </li>
                                    <li> <a href="https://www.facebook.com/hopewellhockey/" class="fa fa-facebook"
                                    target="_blank"> </a> </li>
                                    <li> <a href="https://www.instagram.com/hopewellhockey/"
                                            class="fa fa-instagram"
                                            target="_blank"> </a> </li>
                                    <li> <a href="{% url 'contact_page' %}" class="fa fa-envelope"> </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-5 gray-clr copy-right">
                                © 2017 <a href="{% url 'contact_page' %}" class="white-clr"> The Hopewell Hockey Company LLC. </a> <br>ALL RIGHTS
                                RESERVED.
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Footer Banner-2 Ends -->

            </footer>
            <!-- /FOOTER -->

            <div id="to-top" class="to-top"> <i class="fa fa-angle-up"></i> </div>