{% load staticfiles %}

<!-- FOOTER -->
            <footer class="footer-wrap">
                <!-- FOOTER-2 Starts -->
                <section class="sec-space footer-2">
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <a href="{% url 'home_page' %}">
                                    <img src="http://placehold.it/100x75" alt="logo" />
                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <h2 class="section-title wht pb-30"> Product</h2>
                                <ul>
                                    <li> <a href="#"> Our Memberships</a> </li>
                                    <li> <a href="#"> Sticks </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <h2 class="section-title wht pb-30"> Help Center </h2>
                                <ul>
                                    <li> <a href="{% url 'about_page' %}"> Who we are</a> </li>
                                    <li> <a href="#"> Questions</a> </li>
                                    <li> <a href="{% url 'contact_page' %}"> Get in touch</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <h2 class="section-title wht pb-30"> Other</h2>
                                <ul>
                                    <li> <a href="#"> Other </a> </li>

                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <h2 class="section-title wht pb-30"> Policies</h2>
                                <ul>
                                    <li> <a href="{% url 'toc_page' %}"> Terms of Use</a> </li>
                                    <li> <a href="{% url 'privacyPolicy_page' %}"> Privacy Policy </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <h2 class="section-title wht pb-30"> Game time</h2>
                                <ul>
                                    <li> <a href="#"> Starting Oct- 2016</a> </li>
                                    <li> <a href="#"> Friday </a> </li>
                                    <li> <a href="#"> 8 p.m- 9:45 p.m </a> </li>
                                    <li> <a href="#"> Full Skate - Jacksons Landing </a> </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- FOOTER-2 Ends -->

                <!-- Footer Banner-2 Starts -->
                <section class="footer-banner">
                    <div class="container theme-container">
                        <div class="row">
                            <div class="col-sm-6 hh-social-media">
                                <ul class="list-inline social-media light-media">
                                    <li> <a href="#" class="fa fa-twitter"> </a> </li>
                                    <li> <a href="#" class="fa fa-facebook"> </a> </li>
                                    <li> <a href="#" class="fa fa-google-plus"> </a> </li>
                                    <li> <a href="#" class="fa fa-pinterest"> </a> </li>
                                    <li> <a href="#" class="fa fa-instagram"> </a> </li>
                                    <li> <a href="#" class="fa fa-envelope"> </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 gray-clr copy-right">
                                © 2016 <a href="#" class="white-clr"> Heritage Hockey LLC. </a> ALL RIGHTS RESERVED.
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Footer Banner-2 Ends -->

            </footer>
            <!-- /FOOTER -->

            <div id="to-top" class="to-top"> <i class="fa fa-angle-up"></i> </div>