
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
      maximum-scale=1.0,  user-scalable=no">
<meta name="description"
      content="Hopewell Hockey is dedicated to providing high quality ice hockey sticks at affordable prices.  Hockey is our heritage.  Find out more today.  ">
<meta name="author" content="Douglas Jacobson, Brian DeAngelis">
<meta name="robots" content="NOARCHIVE,NOCACHE" />

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% include 'layout/stylesheets.html' %}






