{% load staticfiles %}

<!-- Header -->
            <header class="header-1">
                  <section  class="main-header">
                    <div  class="header-wrap upper-text">
                        <div class="container theme-container rel-div">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 co-xs-12">
                                    <div class="header-logo">
                                        <a href="index.html"> <img src="http://placehold.it/100x75" alt="logo" />
											 </a>
                                        <span class="nav-trigger toggle-hover visible-xs">
                                            <a class="toggle-icon fa fa-bars" href="#"> </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-10 col-sm-12 navigation font-2">
                                    <nav>
                                        <div class="navbar-collapse no-padding" id="primary-navigation">
                                            <span class="nav-trigger toggle-hover visible-xs">
                                                <a class="toggle-icon fa fa-times" href="#"> </a>
                                            </span>
                                            <ul class="nav navbar-nav primary-navbar">
                                                <li>
                                                    <a href="#"  aria-haspopup="true" >Home</a>
                                                </li>
                                             	<li>
                                                    <a href="#"  aria-haspopup="true" >Membership</a>
                                                </li>
                                                <li><a href="#">Our Sticks <sup class="bubble font-1"> <span class="hot-tag">New</span> </sup></a></li>

                                                <li><a href="about-us.html">About Us</a></li>
                                             	<li><a href="about-us.html">How it works</a></li>
												<li><a href="about-us.html">Login</a></li>
												<li><a href="about-us.html">Sign Up</a></li>

                                            <li class="cart-hover">
                                                <a href="#">Bag &nbsp;&nbsp;<span class="fa fa-shopping-cart"></span> <span class="items-count font-1"> 2 </span> </a>
                                                <div class="pop-up-box cart-style-1">
                                                    <div class="cart-title block-inline">
                                                        <h2 class="title-1">My Cart</h2> <span class="fa fa-shopping-cart"></span> <i class="items-count font-1"> 2 </i>
                                                    </div>
                                                    <div class="cart-item">
                                                        <div class="cart-list">
                                                            <div class="cart-img"> <img src="assets/img/product/cart-thumb-1.png" alt=""> </div>
                                                            <div class="cart-detail">
                                                                <a class="prod-title block-inline" href="#"> some shop item title </a>
                                                                <p class="fsz-16 font-2 no-margin">
                                                                    <span class="fw-300 gray-clr"> 2 <sub>X</sub> </span> $250.00
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="cart-list">
                                                            <div class="cart-img"> <img src="assets/img/product/cart-thumb-2.png" alt=""> </div>
                                                            <div class="cart-detail">
                                                                <a class="prod-title block-inline" href="#"> some shop item title </a>
                                                                <p class="fsz-16 font-2 no-margin">
                                                                    <span class="fw-300 gray-clr"> 1 <sub>X</sub> </span> $250.00
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="font-2 fsz-16 cart-total clearfix">
                                                        <div class="col-sm-5 col-xs-5"> Go To: </div>
                                                        <div class="col-sm-7 col-xs-7"> Total: $750.00 </div>
                                                    </div>
                                                    <div class="block-inline cart-btns">
                                                        <ul class="prod-meta">
                                                            <li> <a class="fa fa-heart meta-icon" href="#"></a> </li>
                                                            <li> <a class="fa fa-retweet meta-icon" href="#"></a> </li>
                                                            <li> <a class="theme-btn btn-black" href="#"> add to cart </a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>


                                            </ul>
                                        </div>
                                    </nav>
                                </div>



                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- /Header -->