{% load staticfiles %}

<!-- Header -->
<div class="row navbar-primary">
    <div class="col-lg-8
                col-md-9
                col-sm-9 col-sm-offset-3
                navigation font-2">
        <nav>
            <div class="navbar-collapse no-padding" id="primary-navigation">
                                            <span class="nav-trigger toggle-hover visible-xs">
                                                <a class="toggle-icon fa fa-times" href="#"> </a>
                                            </span>
                <ul class="nav navbar-nav primary-navbar">
                    <li>
                        <a href="{% url 'home_page' %}"  aria-haspopup="true" >Home</a>
                    </li>
                    <li><a href="/shop">Our Products <sup class="bubble font-1"> <span
                            class="hot-tag">New
                                    </span> </sup></a></li>

                    <li><a href="{% url 'about_page' %}">About Us</a></li>
                    <li><a href="{% url 'faq_page' %}">How it works</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true" > {{request.user.email}} </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'customer:summary' %}"> My Account </a></li>
                            <li><a href="{% url 'customer:logout' %}"> Log Off</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'customer:login' %}">Login or Sign Up</a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>


<!-- /Header -->