{% load staticfiles %}
<!-- JavaScript Global  -->


<!-- OSCAR JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Mobirise Scripts -->

<!--script src="{% static 'pages/about/assets/web/assets/jquery/jquery.min.js' %}"></script-->
<script src="{% static 'pages/about/assets/tether/tether.min.js' %}"></script>
<script src="{% static 'oscar/js/bootstrap3/bootstrap.min.js' %}"></script>
<script src="{% static 'pages/about/assets/smooth-scroll/SmoothScroll.js' %}"></script>
<script src="{% static 'pages/about/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js' %}"></script>
<script src="{% static 'pages/about/assets/jquery-mb-ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'pages/about/assets/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'pages/about/assets/viewportChecker/jquery.viewportchecker.js' %}"></script>
<script src="{% static 'pages/about/assets/dropdown/js/script.min.js' %}"></script>
<script src="{% static 'pages/about/assets/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
<script src="{% static 'pages/about/assets/mobirise-slider-video/script.js' %}"></script>
<script src="{% static 'pages/about/assets/masonry/masonry.pkgd.min.js' %}"></script>


<!-- CDN as fallback  -->
<script ></script>
<script></script>
