{% load staticfiles %}

 <!-- Favicon  TO DO, MAKE OWN-->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href='{% static "ico/apple-touch-icon-144-precomposed.png" %}'>
<link rel="shortcut icon" href='{% static "ico/favicon.ico" %}'>

<!-- Font Icon -->
<link href='{% static "bower_components/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Skranji" rel="stylesheet">


<!-- Global Sheet -->

<link rel="stylesheet" href='{% static "templ/assets/css/normalize.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css"  %}' rel="stylesheet"  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/plugins/owl.carousel.2/assets/owl.carousel.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/plugins/animate.css-master/animate.min.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/plugins/subscribe-better-master/subscribe-better.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/plugins/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/plugins/prettyphoto-master/css/prettyPhoto.css" %}'  type="text/css">

<!-- Index css from templ -->
<link rel="stylesheet" href='{% static "templ/assets/css/header.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "templ/assets/css/style.css" %}'  type="text/css">


<!-- Base Style Sheet -->

<link rel="stylesheet" href='{% static "app/css/base.css" %}'  type="text/css">