{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block navigation %}
{% include 'layout/navigation.html' %}
{% endblock %}

{% block headertext %}{% trans "Password reset complete" %}{% endblock %}

{% block contentshop %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            <p><a href="{{ login_url }}" class="theme-btn btn-login small-btn ">{% trans 'Log in' %}</a></p>
        </div>
    </div>
</div>

{% endblock %}
