{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}

{% block navigation %}
{% include 'layout/navigation.html' %}
{% endblock %}

{% block headertext %}{% trans "Email sent" %}{% endblock %}

{% block contentshop %}
<article class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="fsz-36 section-title"> Password Reset Instructions</h2><hr>
            <p class="fsz-16">
                {% blocktrans %}
                We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
                {% endblocktrans %}
            </p>
            <p class="fsz-16">
                {% blocktrans %}
                If you don't receive an email, please make sure you've entered the address you registered with, and check
                your spam folder.
                {% endblocktrans %}
            </p>
            <div class="">
            <p class="fsz-16">
               <span>Return to the </span><a href="{% url 'home_page' %}"><strong>Main Page</strong></a>
             </p>
        </div>
        </div>
    </div>
</article>
{% endblock %}
