{% extends "oscar/layout.html" %}

{% load history_tags %}
{% load i18n %}

{% block title %}
{% trans "All reviews" %} | {{ product.title }} | {{ block.super }}
{% endblock %}

{% block navigation %}
    {% include 'layout/navigation.html' %}

{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block headertext %}
{% trans "Customer reviews" %}
{% endblock  %}

{% block contentshop %}
<main class="wrapper">
    <article><!-- Start of product page -->
        <div class="container theme-container ptb-70">
            <section>
                {% include 'oscar/catalogue/reviews/review_product.html' %}

                {% if reviews %}
                <form action="." method="get" class="form-inline">
                    {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                    {% endfor %}
                    <input type="submit" class="btn btn-lg btn-black-outline btn-black" value="{% trans "Go" %}" />
                </form>

                {% for review in reviews %}
                {% include 'oscar/catalogue/partials/review.html' %}
                {% endfor %}
                {% include 'oscar/partials/pagination.html' %}

                {% else %}
                <p>{% trans "This product does not have any reviews yet." %}</p>
                {% endif %}

            </section>
        </div>
    </article>
</main>
{% endblock contentshop %}
