{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-comment">
            {% with comments.count as total_comments %}
                <h2 class="hhcomment">{{ total_comments}} comment{{ total_comments|pluralize}} to "{{ post.title }}"</h2>
            {% endwith %}
            {% for comment in comments %}
            <div class="grit">
                 <ul>
                    <li><p class="comment"> {{ comment.name }} </p></li>
                    <li><p class="comment-date">{{ comment.created }}</p></li>
                </ul>
                <div>
                    <span class="comment-body-text">{{ comment.body|linebreaks }}</span>
                </div>
            </div>

            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}

            {% if new_comment %}
                <div class="col-sm-12">
                        <div class="aui-message success">
                        <p>
                            Your comment has been posted!
                        </p>
                    </div>
                    </div>
            {% else %}
            <div class="col-sm-12 contactForm">

                <h3 class="hhcomment">Add a new comment</h3>
                <form role="form" action="" method="POST" class="form-icon contact-form">
                           {% csrf_token %}
                            {% for field in comment_form %}
                            <div class="form-group no-label col-sm-12">
                                {{ field }}
                                <p>{{ field.errors }}</p>
                            </div>
                            {% endfor %}
                            <div class="form-group col-sm-12">
                                <button class="btn btn-lg btn-black-outline btn-black btn-block" type="submit"> <b>                            Submit Comment </b> </button>
                            </div>
                </form>

            </div>
            {% endif %}
        </div>
    </div>
</div>