{% extends "layout/app.html" %}
{% load staticfiles %}
{% load django_markdown %}
{% load blog_tags %}

{% block extrastyles %}

{% endblock %}

{% block title%}
{{ post.title }}
{% endblock %}


{% block content %}
<section class="mbr-cards mbr-section" id="features1-t" style="background-color: rgb(255, 255, 255);padding-top:120px;
">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 ">
                <h1 class="hhblog-title">{{ post.title }}</h1>
                <p class="blog-date">Posted {{ post.publish }} by {{ post.author }}.</p>
                <p>{{ post.body|markdown }}</p>
                <hr>
                <span>
                    <a href='{% url "blog:post_share" post.id %}' class="btn-linkCheckout">
                        Share this post
                    </a>
                </span><span> &nbsp|&nbsp </span>
                <span>
                    <a href='{% url "blog:post_list" %}' class="btn-linkCheckout">
                          Back
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>

{% include "post/comments.html" %}



{% endblock %}