{% extends "layout/app.html" %}
{% load django_markdown %}
{% block title %}Hopewell Blog | Share{% endblock %}

{% block content %}
<!-- CONTENT AREA -->
<article>
    <!--Breadcrumb Section Start-->
    <section class="contactPage-bg">
        <div class="theme-container container ">
            <div class="site-breadcumb aboutPage-hh">
                <h1 class=""> Share This Post</h1>
            </div>
        </div>
    </section>
    <!--Breadcrumb Section End-->
    <!-- Page Starts-->
    <div class="container theme-container">
        <!-- Cart Details Starts-->
        <div class="title-wrap">
            <p>
                Share our blog post with friends.  Its easy to do.  Fill out the form below and we will send them an email.
            </p>
        </div>
        <div class="row  pt-70">
            <div class="col-md-6 contactForm">
                <div class="row">
                    {% if form.errors %}
                    <div class="col-sm-12">
                    <div class="aui-message aui-message-error">
                        <p>
                            There was an error while submitting the form.  Please check the errors and submit the
                            form again.
                        </p>
                        </div>
                    </div>
                    {% endif %}
                <!-- Contact Form Starts -->
                 {% if sent %}
                    <div class="col-sm-12">
                        <div class="aui-message success">
                        <p>
                            Thanks for sharing our post with your friends!
                        </p>
                    </div>
                    </div>
                 {% else %}
                <form role="form" action="" method="POST" class="form-icon contact-form">
                       {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group no-label col-sm-12 text-normalTrans">
                            {{ field }}
                            <p>{{ field.errors }}</p>
                        </div>
                        {% endfor %}
                        <div class="form-group col-sm-12">
                            <button class="btn btn-lg btn-black-outline btn-black btn-block" type="submit"> <b> Send
                                Message </b> </button>
                        </div>
                </form>
                {% endif %}
            </div>
            </div>      <!-- Contact Form Ends -->
        <div class="col-md-6">
            <h2 class="section-title logo-font"> Post "{{ post.title }}" preview</h2>
            <hr class="divider-dotted">
            <p> {{ post.body|markdown|truncatewords_html:30 }}</p>

            <hr class="divider-dotted">

        </div>
        </div>
    </div>
    <!-- Cart Details Ends -->
    </div>
    <!-- / Page Ends -->

</article>
<!-- / CONTENT AREA -->
{% endblock %}