{% extends "layout/app.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
<article>
<div class="login-wrap">
    <div class="col-sm-6 col-sm-offset-4">
        <h2 class="fsz-36 section-title"> Welcome to Heritage Hockey</h2>
        <p class="fsz-16"> {{ new_user.first_name}}, your account has been created successfully.  </p>
        <div class="">
            <p class="fsz-16">
               <span>Go check out  </span><a href="{% url 'account:edit' %}"><strong>My Account</strong></a>
             </p>
            <p class="fsz-16">
               <span>Go shopping </span><a href="{% url 'home_page' %}"><strong>Main Page</strong></a>
             </p>
        </div>
</div>
</article>


{% endblock %}