{% extends "layout/app.html" %}

{% block title %}Register {% endblock %}

{% block content %}

<article>
    <div class="login-wrap">
    <div class="col-sm-4 text-center">
        <div class="pb-30">
            <a href="index.html"> <img alt="Our Logo" src="http://placehold.it/150X100">
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <h2 class="fsz-36 section-title"> Sign In </h2>
        <p class="sub-detail fsz-16"> My Account</p>
        <div class="login-form">
            {% if form.errors %}
            <div class="aui-message aui-message-error">
                <p>
                    Something went wrong.  Please check all the fields and try again
                </p>

            </div>
            {% else %}
            <p>Enter New Account Information.</p>
            {% endif %}
            <form class="login" action="{% url 'account:register' %}" method="POST">
                {{ user_form.as_p}}
                {% csrf_token %}
                <div class="form-group">
                    <button class="theme-btn btn-login small-btn btn-block" type="submit"> Create Account </button>
                </div>
            </form>
            <h5 class="fancy">or</h5>
        </div>
        <div class="row">
            <div class="col-xs-6 pb-25">
                <a href="#" class="theme-btn btn-black small-btn"> <i class="fa fa-facebook"></i> <span>via Facebook</span> </a>
            </div>
            <div class="col-xs-6 pb-25">
                <a href="#" class="theme-btn btn-black small-btn"> <i class="fa fa-twitter"></i> <span>via Twitter</span> </a>
            </div>
        </div>
        <div class="text-center">
            <p class="fsz-16">
               <a href="{% url 'account:password_reset' %}"><strong>Forgot Password?</strong></a>
             </p>
            <p class="fsz-16">
               <a href="{% url 'account:login' %}"><strong>Already a member?  Sign In!</strong></a>
             </p>
        </div>
    </div>
</div>
</div>
</article>

{% endblock %}