{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Login or register' %}</li>
    </ul>
{% endblock %}

{% block header %}

{% endblock %}

{% block navigation %}

{% include 'layout/navigation.html' %}

{% endblock %}

{% block contentshop %}
<div class="container"
<div class="login-wrap">
    <div class="row">
        <div class="col-sm-6 login_form">
            <h2 class="fsz-36 section-title"> Sign In </h2>
             <p class="sub-detail fsz-16"> My Account</p>
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="login" >
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p class="fsz-16">
                    <a href="{% url 'password-reset' %}"><strong>{% trans "I've forgotten my password" %}</strong></a>
                </p>
                <button name="login_submit" type="submit" value="Log In" class="theme-btn btn-login small-btn " data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
            </form>
        </div>
        <div class="col-sm-6 register_form login-form">
            <h2 class="fsz-36 section-title"> Register </h2>
           <p class="sub-detail fsz-16"> New Account</p>
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="login">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="theme-btn btn-login small-btn " data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock contentshop %}
